@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Zen+Maru+Gothic:wght@300&display=swap');
* {
    font-family: 'Zen Maru Gothic', 'Jura';
    color: white;
    filter: drop-shadow(0px 5px 2px rgba(0,0,0,0.25));
}

html {
    scroll-snap-type: y mandatory;
}

body {
    min-height: 100%;
    background-color: black;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li a{
    text-decoration: none;
}

.flexbox {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section {
    min-height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    padding: 1%;
}

#main {
    background: linear-gradient(180deg, #6D9FFF 0%, #769CE7 42.19%, #4068B7 72.39%, #194496 72.4%, #00256C 100%);
}

#about {
    background: linear-gradient(180deg, rgba(0,37,108,1), rgba(0,25,72,1));
}

#works {
    background: linear-gradient(180deg, rgba(0,25,72,1), rgba(0,21,61,1));
}

#blog {
    background: linear-gradient(180deg, rgba(0,21,61,1), rgba(0,13,38,1));
}

#contact {
    background: linear-gradient(180deg, rgba(0,13,38,1), rgba(0,0,0,1));
}

#zikuudelta {
    background-color: black;
}